#
# Forked from Yihui's `knitr` version: https://raw.github.com/yihui/knitr/master/.travis.yml
#

# it is not really python, but there is no R support on Travis CI yet
language: python

# environment variables
env:
  - R_LIBS_USER=~/R

# install dependencies
install:
  - sudo apt-add-repository -y ppa:marutter/rdev
  - sudo apt-get update
  - sudo apt-get install r-base-dev pandoc qpdf texinfo texlive-latex-extra texlive-fonts-recommended texlive-fonts-extra
  - "[ ! -d ~/R ] && mkdir ~/R"
  - R --version
  - R -e '.libPaths(); sessionInfo()'
  - Rscript -e 'install.packages("testthat", dep = TRUE, repos = "http://cran.r-project.org")'
  - Rscript -e 'install.packages("yaml", dep = TRUE, repos = "http://cran.r-project.org")'
  - Rscript -e 'install.packages(c("nortest", "descr", "ggplot2", "xtable", "outliers",  "psych", "nFactors", "mclust", "GPArotation", "grDevices", "RColorBrewer", "HH", "fpc", "car", "gvlma"), dep = TRUE, repos = "http://cran.r-project.org")'
  - Rscript -e 'install.packages("rapport", dep = TRUE, repos = "http://cran.r-project.org")'
  - Rscript -e 'install.packages("devtools", dep = TRUE, repos = "http://cran.r-project.org")'
  - Rscript -e 'library(methods);library(devtools); install_github("rapportools", "rapporter")'

# run tests
script:
  - make install
  - make check
  - make test
