export(adj.rle)
export(alike.integer)
export(capitalise)
export(catn)
export(check.name)
export(decorate.lattice)
export(decrypt)
export(encrypt)
export(eval.msgs)
export(evals)
export(fml)
export(get.tags)
export(grab.chunks)
export(guess.convert)
export(has.tags)
export(htest)
export(htest.short)
export(is.empty)
export(is.heading)
export(is.number)
export(is.rapport)
export(is.string)
export(is.tabular)
export(is.variable)
export(kurtosis)
export(lambda.test)
export(makes.plot)
export(p)
export(pct)
export(purge.comments)
export(rapport)
export(rapport.html)
export(rapport.odt)
export(redraw.recordedplot)
export(rp.barplot)
export(rp.boxplot)
export(rp.cor.plot)
export(rp.densityplot)
export(rp.desc)
export(rp.dotplot)
export(rp.freq)
export(rp.graph.check)
export(rp.hist)
export(rp.iqr)
export(rp.kurtosis)
export("rp.label<-")
export(rp.label)
export(rp.lineplot)
export(rp.max)
export(rp.mean)
export(rp.median)
export(rp.min)
export(rp.missing)
export(rp.name)
export(rp.outlier)
export(rp.palette)
export(rp.percent)
export(rp.prettyascii)
export(rp.qqplot)
export(rp.range)
export(rp.round)
export(rp.scatterplot)
export(rp.sd)
export(rp.se.mean)
export(rp.skewness)
export(rp.sum)
export(rp.univar)
export(rp.valid)
export(rp.var)
export(skewness)
export(stopf)
export(table.json)
export(theme.rapport)
export(tocamel)
export(tpl.check)
export(tpl.example)
export(tpl.export)
export(tpl.info)
export(tpl.inputs)
export(tpl.list)
export(tpl.meta)
export(tpl.paths)
export(tpl.paths.add)
export(tpl.paths.remove)
export(tpl.paths.reset)
export(tpl.rerun)
export(trim.space)
export(vgsub)
export(wrap)
S3method(print,rapport)
S3method(print,rp.info)
S3method(print,rp.inputs)
S3method(print,rp.meta)
