export("rp.label<-")
export(adj.rle)
export(alike.integer)
export(catn)
export(check.name)
export(decrypt)
export(elem.eval.default)
export(elem.eval.rp.chunk)
export(elem.eval)
export(encrypt)
export(evals)
export(extract.meta)
export(get.tags)
export(grab.chunks)
export(guess.convert)
export(has.tags)
export(is.heading)
export(is.rapport)
export(is.string)
export(is.tabular)
export(is.variable)
export(lambda.test)
export(makes.plot)
export(pct)
export(print.rapport)
export(print.rp.header)
export(print.rp.inputs)
export(print.rp.meta)
export(purge.comments)
export(rapport)
export(rp.barplot)
export(rp.boxplot)
export(rp.cor.plot)
export(rp.desc)
export(rp.dotplot)
export(rp.freq)
export(rp.graph.check)
export(rp.hist)
export(rp.iqr)
export(rp.kurtosis)
export(rp.label)
export(rp.lineplot)
export(rp.max)
export(rp.mean)
export(rp.median)
export(rp.min)
export(rp.missing)
export(rp.n)
export(rp.name)
export(rp.outlier)
export(rp.palette)
export(rp.prettyascii)
export(rp.range)
export(rp.round)
export(rp.scatterplot)
export(rp.sd)
export(rp.se.mean)
export(rp.skewness)
export(rp.sum)
export(rp.univar)
export(rp.valid)
export(rp.var)
export(table.json)
export(tags.misplaced)
export(tocamel)
export(tpl.body)
export(tpl.elem)
export(tpl.example)
export(tpl.export)
export(tpl.find)
export(tpl.header)
export(tpl.inputs)
export(tpl.list)
export(tpl.meta)
export(trim.space)
export(vgsub)
