<ul>
  <li>
    <a href="#intro">Intro</a>
  </li>
  <li>
    <a href="#faq">FAQ</a>
  </li>
  <li>
    <a href="#install">Installation</a>
  </li>
  <li>
    <a href="#usage">Usage</a>
  </li>
  <li>
    <a href="#templates">Bundled templates</a>
  </li>
  <li>
    <a href="#custom">Writing templates</a>
  </li>
  <li>
    <a href="#translate">Translating templates</a>
  </li>
  <li>
    <a href="/functions.html">Documentation</a>
  </li>
  <li>
    <a href="#discuss">Discussion</a>
  </li>
  <li>
    <a href="#license">License</a>
  </li>
  <li>
    <a href="#thanks">Thanks</a>
  </li>
  <li>
    <a href="#contact">Contact</a>
  </li>
</ul>
