<ul>
  <li>
    <a href="#Datasets">Datasets</a>
  </li>
  <li>
    <a href="#Generic-functions">Generic functions</a>
  </li>
  <li>
    <a href="#Generic-graph-functions">Graph functions</a>
  </li>
  <li>
    <a href="#Generic-helper-functions">Helper functions</a>
  </li>
  <li>
    <a href="#Generic-stat-functions">Stat functions</a>
  </li>
  <li>
    <a href="#Generic-stat-helper-functions">Stat helper functions</a>
  </li>
  <li>
    <a href="#Template-related-functions">Template functions</a>
  </li>
</ul>