body {
    font-family: 'DroidSansRegular', sans-serif;
}

h1, h2, h3, h4, h5, h6, .subtitle {
    color: #383336;
    font-family: 'DroidSansBold', sans-serif;
}

.subtitle {
    font-size: 21pt;
}

.content a {
    color: #0099D9;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.highlight, code {
    font-family: 'DroidSansMono', monospace;
    background-color: #F5F5F5;
    border: solid 1px #DDD;
}

.highlight code {
    border: none;
}

.highlight {
    margin: 0 0 20px;
    padding: 10px;
    overflow: auto;
}

code {
    padding: 0 5px;
}

nav {
    position: fixed;
}

nav a {
    color: #383336;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #0099D9;
}

#logo {
    margin: 10px 0 30px;
}

ul.tabs li {
    margin-left: 2px;
}

ul.tabs li a.active {
    color: #383336;
    font-weight: bold;
    text-decoration: none;
}

.content li {
    list-style-type:circle;
    margin-left: 60px;
}

.contact {
    color: #383336;
    font-family: DroidSans;
    font-size: 1.5em;
    font-weight: bold;
}