body, p, table {
    font-family: 'DroidSansRegular', sans-serif;
}

header, h1, h2, h3, h4, h5, h6 {
    font-family: 'AsapBold', sans-serif;
}

p, table {
    margin-left: 20px;
    text-align: justify;
}

code {
    font-family: Inconsolata, monospace;
    background-color: whiteSmoke;
    padding-left: 2px;
    padding-right: 2px;
    border: solid 1px #DDD;
}

.highlight {
    background-color: whiteSmoke;
    margin: 5px 5px 5px 20px;
    padding: 5px;
    border: solid 1px #DDD;
    overflow: auto;
    font-family: "Inconsolata", monospace;
}

.content li {
    list-style-type:circle;
    margin-left: 60px;
}

li.active {
    margin-left: 20px;
}

.options {
    margin-left: 20px;
}

.options-desc {
    padding-bottom: 2px;
}

ul.tabs li {
    margin-left: 0px;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}
