<!--<link rel="stylesheet" type="text/css" href="templates/css/default.css">
<script type="text/javascript" src="templates/js/default.js"></script>-->

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="templates/stylesheets/base.css">
	<link rel="stylesheet" href="templates/stylesheets/skeleton.css">
	<link rel="stylesheet" href="templates/stylesheets/layout.css">
	<link rel="stylesheet" href="templates/stylesheets/fonts.css">
	<link rel="stylesheet" href="templates/stylesheets/custom.css">

	<link rel="shortcut icon" href="templates/images/favicon.ico">
	<link rel="apple-touch-icon" href="templates/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="templates/72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="templates/114x114" href="images/apple-touch-icon-114x114.png">

	<script src="templates/javascripts/jquery-1.7.1.min.js"></script>
	<script src="templates/javascripts/nav.js"></script>
	<script src="templates/javascripts/tabs.js"></script>
