<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
    <!-- Basic Page Needs
         ================================================== -->
    <meta charset="utf-8" />
    <title>rapport: an R templating system | {{ page.title }}</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Mobile Specific Metas
         ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- CSS
         ================================================== -->
    <link rel="stylesheet" href="stylesheets/base.css" />
    <link rel="stylesheet" href="stylesheets/skeleton.css" />
    <link rel="stylesheet" href="stylesheets/layout.css" />
    <link rel="stylesheet" href="stylesheets/custom.css" />
    <link rel="stylesheet" href="stylesheets/fonts.css" />
    <!-- Favicons
         ================================================== -->
    <link rel="shortcut icon" href="images/favicon.gif" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
    <!-- Google Analytics
         ================================================== -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28519908-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div class="container">
      <div class="four columns sidebar">
        <nav>
          <div id="logo">
            <a href="/"><img src="images/logo.png" alt="rapport"></a>
          </div>
          {% if page.title == 'Home' %}
              {% include nav_index.html %}
          {% elsif page.title == 'Documentation' %}
              {% include nav_function.html %}
          {% endif %}
          <div id="influads_block" class="influads_block"></div>
        </nav>
        &nbsp;
      </div>
      <div class="twelve columns content">
        <header>
          <h1>rapport<span class="subtitle">&nbsp; an R templating system</span></h1>
          <!-- social network icons and stuff -->
        </header>
        <hr class="large" />
        {{ content }}
        <hr />
        <div class="doc-section" id="attribution">
          <p class="remove-bottom">
            &copy; 2012 <i>rapport</i> Development Team | License (<a href="http://www.gnu.org/licenses/agpl.html" target="_blank">AGPL3</a>) | Styled with <a href="http://www.getskeleton.com/">skeleton</a>.
          </p>
        </div>
      </div><!-- content -->
    </div><!-- container -->
    <!-- JS
         ================================================== -->
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="javascripts/tabs.js"></script>
    <!-- End Document
         ================================================== -->
  </body>
</html>