<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <title>Rapport: a report templating system</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- CSS
        ================================================== -->
        <link rel="stylesheet" href="stylesheets/base.css">
        <link rel="stylesheet" href="stylesheets/skeleton.css">
        <link rel="stylesheet" href="stylesheets/layout.css">
        <link rel="stylesheet" href="stylesheets/custom.css">
        <link rel="stylesheet" href="stylesheets/fonts.css">
        <!-- Favicons
        ================================================== -->
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- Google Analytics
        ================================================== -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-28519908-1']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
    </head>
    <body>
        <div class="container">
            <div class="four columns sidebar">
                <nav>
                    <div id="logo">
                        <a href=""><img src="rapport.png" alt="rapport"></a>
                    </div>
                    <ul>
                        <li>
                            <a href="#intro">Intro</a>
                        </li>
                        <li>
                            <a href="#faq">FAQ</a>
                        </li>
                        <li>
                            <a href="#install">Installation</a>
                        </li>
                        <li>
                            <a href="#usage">Usage</a>
                        </li>
                        <li>
                            <a href="#templates">Templates</a>
                        </li>
                        <li>
                            <a href="#translate">Translating templates</a>
                        </li>
                        <li>
                            <a href="#custom">Custom templates</a>
                        </li>
                        <li>
                            <a href="/functions">Package docs</a>
                       </li>
                        <li>
                            <a href="#discuss">Discussion</a>
                        </li>
                        <li>
                            <a href="#license">License and credits</a>
                        </li>
                    </ul>
                    <div id="influads_block" class="influads_block"></div>
                </nav>
                &nbsp;
            </div>
            <div class="twelve columns content">
                <header>
                    <h1>Rapport: <small>an R templating system</small></h1>
                    <!-- social network icons and stuff -->
                </header>
                <hr class="large" />
                {{ content }}
                <hr />
                <div class="doc-section" id="attribution">
                    <p class="remove-bottom">
                        This page was created by <a href="#authors">Rapport package authors</a> in 2011-2012 )c(.
                </div>
            </div><!-- content -->
        </div><!-- container -->
        <!-- JS
        ================================================== -->
        <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
        <script src="javascripts/tabs.js"></script>
        <!-- End Document
        ================================================== -->
    </body>
</html>